<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=0.49, user-scalable=no">
<meta name="format-detection" content="telephone=no" />
<script src="common.jsf"></script>
<script src="jquery.min.jsf"></script>
<script src="paint.jsf"></script>
<title>SignView</title>
</head>
<body>
<canvas id="paper" class="paper" width="400" height="400" data-target="#sign">
  ご利用のブラウザではサインは表示できません。
</canvas>
<button type="button" name="clearCanvas" class="clear-canvas">クリア</button>
<input type="hidden" id="sign" name="sign" value="" />
</body>
</html>